{% if lang == 'fr' %}
<gcds-footer
  lang="fr"
  display="full"
  contextual-heading="{{ site.titleFr }}"
  contextual-links='{"Accueil":"/fr/","A propos":"/fr/a-propos/"}'
>
</gcds-footer>
{% else %}
<gcds-footer
  lang="en"
  display="full"
  contextual-heading="{{ site.title }}"
  contextual-links='{"Home":"/en/","About":"/en/about/"}'
>
</gcds-footer>
{% endif %}
