<footer>
  <div class="site-footer">
    <p>
      &copy; {{ site.year }}
      {% if page.lang == 'fr' %}
      {{ site.titleFr }}.
      Tous droits réservés.
      {% else %}
      {{ site.title }}.
      All rights reserved.
      {% endif %}
    </p>
  </div>
</footer>
