{% if lang == 'fr' %}
  {% if page.url == '/fr/a-propos/' %}
    {% set langHref = '/en/about/' %}
  {% else %}
    {% set langHref = '/en/' %}
  {% endif %}
{% else %}
  {% if page.url == '/en/about/' %}
    {% set langHref = '/fr/a-propos/' %}
  {% else %}
    {% set langHref = '/fr/' %}
  {% endif %}
{% endif %}

<gcds-header lang-href="{{ langHref }}" skip-to-href="#main-content">
  <gcds-search slot="search"></gcds-search>
  {% if page.url == '/en/about/' or page.url == '/fr/a-propos/' %}
  <gcds-breadcrumbs slot="breadcrumb">
    {% if lang == 'fr' %}
    <gcds-breadcrumbs-item href="/fr/">Accueil</gcds-breadcrumbs-item>
    <gcds-breadcrumbs-item href="/fr/a-propos/">A propos</gcds-breadcrumbs-item>
    {% else %}
    <gcds-breadcrumbs-item href="/en/">Home</gcds-breadcrumbs-item>
    <gcds-breadcrumbs-item href="/en/about/">About</gcds-breadcrumbs-item>
    {% endif %}
  </gcds-breadcrumbs>
  {% endif %}
</gcds-header>
