{% if lang == "en" %}
  {% set otherLang = "fr" %}
{% else %}
  {% set otherLang = "en" %}
{% endif %}
{% if otherLanguageUrl %}
  {% set langHref = otherLanguageUrl %}
{% elif otherLanguageTitle %}
  {% set langHref = "/" ~ otherLang ~ "/" ~ (otherLanguageTitle | stripTagsSlugify) ~ "/" %}
{% elif page.url == '/en/' or page.url == '/fr/' %}
  {% set langHref = "/" ~ otherLang ~ "/" %}
{% endif %}
{% if eleventyNavigation and eleventyNavigation.key %}
  {% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{% endif %}
<gcds-header {% if langHref %}lang-href="{{ langHref }}"{% endif %} skip-to-href="#main-content">
  <gcds-search slot="search"></gcds-search>
  <gcds-breadcrumbs slot="breadcrumb">
    {% for crumb in crumbs %}
    <gcds-breadcrumbs-item href="{{ crumb.url }}">{{ crumb.data.title or crumb.title }}</gcds-breadcrumbs-item>
    {% endfor %}
  </gcds-breadcrumbs>
</gcds-header>
